apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-xktr
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/ysubrama-tenant/my-app/devfile-sample-xktr@sha256:f1fdd2b3390f7d2eb1a5af8ad715ae7caa405105a215a4a15a73b1cdca7a8900
        name: my-nodejs
        resources: {}
status: {}
